body, html {
    color: #ffbc00;
    background-image: url("../assets/space-backdorp-dubi.jpg");
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #11ac79;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}
a:active {
    color: #11ac79;
}

#page {
    max-width: 950px;
    min-width: 0px;
    margin: 36px auto 10px auto;
    padding: 20px;
    border: 4px double #9e4e16;
    border-radius: 20px;
    background-color: black;
}

#gigs {
    text-align: center;
}

#logo {
    margin: 10px auto 25px auto;
    border: 0px solid #9e4e16;
    text-align: center;
    border-radius: 20px;
    font-family: 'Monoton', cursive;
    padding: 0px auto 25px auto;
}



ul {
    margin: 0px auto;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 12px;
    font-family: helvetica, arial;
    letter-spacing: 6px;
    font-weight: 600;
}

p {
   font-family: helvetica, arial;
   text-align: left; 
   font-weight: 600;
}

li {
    display: inline;  
    margin: 0px 3px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.column {
    width: 48%;
    height: auto;
    line-height: 26px;
    
}



.music-player {
    border: 1px solid #9e4e16;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    margin: 0px auto;
    font-family: courier;
    border-radius: 20px;
}


 .music-buttons {
    height: 48px;
    width: 44px;
    background: url(../assets/play-button-sprite.png) 0px 0px no-repeat;
    cursor: pointer;


}

.footer-info {
    color: #09a978;
    font-size: 12px;
    text-align: center;
}

.footer-info a {
    color: #ff5b3f;
}

@media only screen and (max-width: 759px) {
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
    .slider {
        display: none;
    }



    .mobile {
    position: relative; /* needed for IE7 */
    height: 510px;
    border-radius: 20px;
    border: 4px double #9e4e16;
    background-image: url(../assets/dubi-triptic-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 0px;
    width: 100%;
    }
} /* end of 759px media query */

@media only screen and (max-width: 600px) {
        iframe {
        width: 100%;
        height: auto;
    }
}


.gallery {
    display: flex;
    max-width: 950px;
    min-width: 720px;
    margin: 0 auto;
}

.contact p {
    
    font-family: helvetica, arial;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
}



